.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
}

.thumbnail .caption-full {
    padding: 9px;
}

.delete-form {
    display: inline;
}